.create {

  width: 100%;
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  /* height: 1016px; */
  
  }



  .create .create-container {
    width: 760px;
height: auto;
margin-top: 200px;
flex-shrink: 0;
border-radius: 20px;
background: #1D1D1D;
box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.10);
    padding: 30px;
    
    /* margin-top: 20px; */
  }

  .create .create-container .signin-logo {
    width: 369px;
height: 135px;
flex-shrink: 0;
margin: 30px 0 50px 180px;
  }
  
  .create .create-container h1 {
    color: #FFF;
    text-align: center;
    font-size: 125px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .create form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .create input[type="text"],
  .create input[type="number"],
  .create textarea {
    width: 75%;
height: 65px;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid #FFF;
opacity: 0.5;
background-color: transparent;
margin-bottom: 30px;

  }
  
  .create textarea, input[type="text"], input[type="number"] {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
  }
    
  .create button {
  margin-top: 30px;
    width: 75%;
height: 60px;
flex-shrink: 0;
border-radius: 15px;
background: linear-gradient(90deg, #F36EB6 0%, #8631ED 100%);
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor: pointer;
  }
  
  .create button:hover {
    background: linear-gradient(90deg, #7D36E1, #D741AC); 
  }
  
  