.footer-main {
    margin-top: 250px;
    color: #333;
    font-family: Arial, sans-serif;
    border-top: 1px solid #5b6166;
    bottom: 0;
    width: 100%;
  }
  
  .footer {
    display: flex;
    padding: 20px 0;
    text-align: left;
    margin-top: 5px;
  }
  
  .footer .logo {
    margin-top: 30px;
    margin-left: 150px;
    /* background-color: aqua; */
    height: 200px;
    width: 200px;
  }

  .footer .logo img {
    height: 100px;
    width: auto;
  }
  
  
  .footer .logo p {
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
    color: #fff;
  }
  
  .footer .main-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 410px;
  }
  
  .footer .main-links > div {
    margin: 10px 30px;
  }
  
  .footer .main-links h2 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .footer .main-links a {
    display: block;
    color: #6c757d;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .copyright {
    text-align: center;
    font-size: 14px;
    color: #6c757d;
    margin-top: 10px; 
  }