
.home{
    margin-top: 120px;
  }
  
  .home .heading h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .home .heading p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
  
  