.navbar {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1000; 
    backdrop-filter: blur(10px);
    background-color: #000;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .navbar h1 {
    background: linear-gradient(90deg, #D741AC, #7D36E1); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* margin-left: 10px; */
  }
  
  .navbar .logo {
    height: 30px;
    width: auto;
  }
  
  .navbar .logo1 {
    height: 40px;
    width: auto;
  }

  .navbar .nav-links {
    margin-right: 110px;
    display: flex;
    justify-content: center;
    flex-grow: 1; 
  }
  
  
  .navbar .links a {
    color: #ffffff; 
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    position: relative; 
  }
  
  .navbar .links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px; 
    width: 0;
    height: 2px; 
    background-color: transparent; 
  }
  
  .navbar .links a:hover::after {
    width: 40%;
    left: 30%;
    background: linear-gradient(90deg, #7D36E1, #441E7B); 
    background-size: 100% 2px; 
    background-position: 0 0;
    background-repeat: no-repeat; 
    transition: width 0.3s ease, background-position 0.3s ease;
  }
  
  .navbar .sign {
    margin-right: 50px;
  }
  
  .navbar .sign a {
    margin-left: 16px;
    text-decoration: none;
    padding: 1.5px 13px; 
    color: #fff; 
    background-color: #7C4CF5; 
    border: 1px solid #7C4CF5;
    border-radius: 50px; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }

