.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 5% 2% 5%;
  width: 760px;
  box-sizing: border-box;
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
  background: #1D1D1D;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.10);
  margin: 30px auto;
}

.signup-container .signin-logo {
  width: 369px;
  height: 135px;
  flex-shrink: 0;
}

.signup-container p {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #FFF;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 30px;
  width: 380px;
  height: 65px;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #FFF;
  background-color: transparent;
  opacity: 0.5;
  color: #FFF;
  font-size: 16px;
  transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.signup-form input::placeholder {
  color: #FFF;
  opacity: 0.7;
}

.signup-form input:focus {
  opacity: 1;
  border-color:#F36EB6;
  outline: none;
}

.signup-container .instructions {
  padding-top: 0;
  width: 380px;
}

.signup-container .instructions p {
  margin: 0;
  text-align: left;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #1D1D1D;
}

.signup-container button {
  margin-top: 50px;
  width: 380px;
  height: 60px;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 15px;
  background: linear-gradient(90deg, #F36EB6 0%, #8631ED 100%);
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.signup-container a {
  margin-top: 40px;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
}

.signup-container .option1 {
  margin: 0;
  display: flex;
}

.signup-container .option1 p {
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup-container .option1 a {
  position: relative;
  margin-left: 20px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(90deg, #F36EB6 0%, #8631ED 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.signup-container .option1 a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #F36EB6 0%, #8631ED 100%);
}

.signup-container .option2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.signup-container .option2 a,
.signup-container .option2 p {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup-container .option2 p {
  color: #FFF;
  font-size: 14px;
}
